/* Universal Styles */
html {
    font-family: Arial, Helvetica, sans-serif;
}

.flex-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* Element Styles */

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-self: center;
}

header {
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}

nav {
    position: absolute;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    background-color: #f2f2f2;
    color: #70757a;
}

ul {
    display: flex;
    padding: 10px;
    align-items: center;
}

li {

}

button {
    margin: 20px;
    padding: 10px;
    box-shadow: none;
}



/* Class Styles */

.magnifying-glass-img,
.microphone-img {
    height: 25px;
    width: 25px;
}

.top-left {
    float: left;
}

.top-right {
    float: right;
}

.nav-img {
    width: 50px;
    height: 50px;
}

.google-main-img {
    display: flex;
    margin: auto;
}

.search-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}

.bottom-middle {
    text-align: center;
}

.bottom-right {
    margin-left: auto;
}

.bottom-left {
    margin-right: auto;
}

.main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

}

/* ID Styles */

#search-bar {
    display: flex;
    margin: auto;
    width: 560px;
    height: 39px;
    border-radius: 75px;
}


/* Specific Selectors */

footer a {
    color: #70757a;
}

 nav a {
     color: #000000;
 }

 /* Hover Selectors */

 a:hover {
     text-decoration: underline;
 }